<div class="filters-bar">
  <div class="container">
    <div class="inline-block mrl ptr-15 pbr-15">
      <div class="widget">
        <button class="filters-bar__button btn btn-sm widget-button--pill font-0" type="button">
          <span class="filters-bar--item filters-bar__categories-selected font-16">
            Any Category
          </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9" style="height: 9px; margin-left: 8px; position: relative; top: 1px; width: 11px;">
            <polygon fill-rule="evenodd" points="7.238 12 0 4.762 .762 4 8 11.238 15.238 4 16 4.762 7.997 12.765 7.235 12.002" transform="translate(0 -4)">
            </polygon>
          </svg>
        </button>
        <div class="sub-menu">
          <div class="widget-dropdown">
            <div class="flex-direction-column fullheight">
              <div class="phl ptl bg-shade-f9f">
                <div class="font-16">
                  <h4 class="bold mbm text-center">
                    Browse By
                  </h4>
                  <ol class="flex flex--column mbs">
                    <li>
                      <label class="inline-flex" for="category-0">
                        <input class="checkbox-element__input sr-only" id="category-0" name="categories" type="checkbox" value="Musicals">
                        <span class="checkbox-element__faux">
                        </span>
                        <span class="pll checkbox-element style-936aa" id="style-936aa">
                          Musicals
                        </span>
                      </label>
                    </li>
                    <li>
                      <label class="inline-flex" for="category-1">
                        <input class="checkbox-element__input sr-only" id="category-1" name="categories" type="checkbox" value="Plays">
                        <span class="checkbox-element__faux">
                        </span>
                        <span class="pll checkbox-element style-7E6kn" id="style-7E6kn">
                          Plays
                        </span>
                      </label>
                    </li>
                    <li>
                      <label class="inline-flex" for="category-2">
                        <input class="checkbox-element__input sr-only" id="category-2" name="categories" type="checkbox" value="Stars on Stage">
                        <span class="checkbox-element__faux">
                        </span>
                        <span class="pll checkbox-element style-P4ywv" id="style-P4ywv">
                          Stars on Stage
                        </span>
                      </label>
                    </li>
                    <li>
                      <label class="inline-flex" for="category-3">
                        <input class="checkbox-element__input sr-only" id="category-3" name="categories" type="checkbox" value="Kid-Friendly">
                        <span class="checkbox-element__faux">
                        </span>
                        <span class="pll checkbox-element style-D523S" id="style-D523S">
                          Kid-Friendly
                        </span>
                      </label>
                    </li>
                    <li>
                      <label class="inline-flex" for="category-4">
                        <input class="checkbox-element__input sr-only" id="category-4" name="categories" type="checkbox" value="Classics">
                        <span class="checkbox-element__faux">
                        </span>
                        <span class="pll checkbox-element style-4Nndn" id="style-4Nndn">
                          Classics
                        </span>
                      </label>
                    </li>
                    <li>
                      <label class="inline-flex" for="category-5">
                        <input class="checkbox-element__input sr-only" id="category-5" name="categories" type="checkbox" value="Off-Broadway">
                        <span class="checkbox-element__faux">
                        </span>
                        <span class="pll checkbox-element style-lZWar" id="style-lZWar">
                          Off-Broadway
                        </span>
                      </label>
                    </li>
                  </ol>
                </div>
              </div>
              <div class="form-control__wrapper">
                <button class="form-control pas" type="button">
                  Cancel
                </button>
                <button class="form-control pas" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="currentColor" style="margin-right: 4px;">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="currentColor" d="M14.0564 1.9439C16.6451 4.533 16.6496 8.72256 14.0593 11.3133C13.9474 11.4252 13.8466 11.5207 13.7555 11.6017L12.6701 10.3771C12.7318 10.3039 12.8041 10.2256 12.8879 10.1417C14.8278 8.20163 14.8288 5.0492 12.8901 3.11031C10.9515 1.17141 7.79958 1.1724 5.85976 3.11251C4.88691 4.08549 4.42368 5.35715 4.42914 6.62867L7.37384 6.62749L4 12L0 6.63005L2.75357 6.62919C2.7541 4.92993 3.39322 3.23633 4.68839 1.94097C7.27873 -0.649751 11.4677 -0.645201 14.0564 1.9439Z">
                    </path>
                  </svg>
                  <span>
                    Reset
                  </span>
                </button>
                <button class="form-control pas form-control--primary" type="button">
                  Apply
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inline-block mrl ptr-15 pbr-15">
      <div class="widget">
        <button class="btn btn-sm widget-button--pill filters-bar__button" type="button">
          <span>
            Any Price
          </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9" style="height: 9px; margin-left: 8px; position: relative; width: 11px; top: 1px;">
            <polygon fill-rule="evenodd" points="7.238 12 0 4.762 .762 4 8 11.238 15.238 4 16 4.762 7.997 12.765 7.235 12.002" transform="translate(0 -4)">
            </polygon>
          </svg>
        </button>
        <div class="sub-menu">
          <div class="widget-dropdown">
            <div class="flex-direction-column fullheight">
              <div class="pbm phx ptl bg-shade-f9f">
                <div class="center font-16 text-center">
                  <strong>
                    Any Ticket Price
                  </strong>
                </div>
                <div>
                  <div class="mdc-slider">
                    <div class="mdc-slider__track-container">
                      <div class="mdc-slider__track style-m5NQT" id="style-m5NQT">
                      </div>
                    </div>
                    <div class="mdc-slider__thumb-container  style-2oJkB" id="style-2oJkB">
                      <svg class="mdc-slider__thumb" width="21" height="21">
                        <circle cx="12.5" cy="12.5" r="7.875">
                        </circle>
                      </svg>
                      <div class="mdc-slider__focus-ring">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-control__wrapper">
                <button class="form-control pas" type="button">
                  Cancel
                </button>
                <button class="form-control pas" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="currentColor" style="margin-right: 4px;">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="currentColor" d="M14.0564 1.9439C16.6451 4.533 16.6496 8.72256 14.0593 11.3133C13.9474 11.4252 13.8466 11.5207 13.7555 11.6017L12.6701 10.3771C12.7318 10.3039 12.8041 10.2256 12.8879 10.1417C14.8278 8.20163 14.8288 5.0492 12.8901 3.11031C10.9515 1.17141 7.79958 1.1724 5.85976 3.11251C4.88691 4.08549 4.42368 5.35715 4.42914 6.62867L7.37384 6.62749L4 12L0 6.63005L2.75357 6.62919C2.7541 4.92993 3.39322 3.23633 4.68839 1.94097C7.27873 -0.649751 11.4677 -0.645201 14.0564 1.9439Z">
                    </path>
                  </svg>
                  <span>
                    Reset
                  </span>
                </button>
                <button class="form-control pas form-control--primary" type="button">
                  Apply
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--//Tickets-->
<ol class="container mbn">

  <li class="show-card card--hover card--shadow bg-white" *ngFor="let ticket of tickets_list">
    <div class="container overflow-visible ptl pbl">
      <div class="left mrl">
        <a href="https://broadway.com/shows/the-lion-king/">
          <img class="poster--shadow hack-specific-40-60 lazyloaded" src="{{ticket.event.image}}">
        </a>
      </div>
      <div class="flex flex--column">
        <h3 class="font-lg-28-sm-22 lh-1 man mbs ls-norm">
          <a class="link-111-444" href="https://broadway.com/shows/the-lion-king/">
            {{ticket.event.name}}
            <span id="style-TzzUP" class="style-TzzUP">
              Tickets
            </span>
          </a>
        </h3>
        <div class="font-xxs mbm ls-norm">
          <span class="green bold">
            {{ticket.standard_cost | currency}}
          </span>
        </div>
        <div class="font-14 flex flex--row">
          <a class="flex bold ls-norm" href="https://broadway.com/shows/the-lion-king/">
            <svg width="0" viewBox="0 0 17 17" class="svg-icon mrs more-info__icon" height="0">
              <path d="M9 16.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13z">
              </path>
              <path d="M9 8a1 1 0 011 1v3a1 1 0 01-2 0V9a1 1 0 011-1zm0-1a1 1 0 110-2 1 1 0 010 2z">
              </path>
            </svg>
            <span class="font-12-xs font-14-sm bold style-PKsFa" id="style-PKsFa">
              Learn More
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="show-card__calendar show-card__calendar--first">
      <div class="calendar__header ls-norm">
        <div class="gray-666">
          Sat
        </div>
        <div class="style-EzgKM" id="style-EzgKM">
          {{ticket.event.date_time}}
        </div>
      </div>
      <div class="calendar__show-times">
        <div class="show-times__button--striked gray-666">
          <div class="font-12 style-HKnJA" id="style-HKnJA">
            Unavailable
          </div>
          <span class="font-14 line-through">
            2:00pm
          </span>
        </div>
        <div class="show-times__button--striked gray-666">
          <div class="font-12 style-wPP8o" id="style-wPP8o">
            Unavailable
          </div>
          <span class="font-14 line-through">
            8:00pm
          </span>
        </div>
      </div>
    </div>
    <div class="show-card__calendar ">
      <div class="calendar__header ls-norm">
        <div class="gray-666">
          Sun
        </div>
        <div class="style-fYDTQ" id="style-fYDTQ">
          Apr 30
        </div>
      </div>
      <div class="calendar__show-times">
        <a class="show-times__button show-times__button--snow btn btn-sm btn--snow" href="#">
          3:00pm
        </a>
      </div>
    </div>
    <div class="show-card__calendar ">
      <div class="calendar__header ls-norm">
        <div class="gray-666">
          Mon
        </div>
        <div class="style-YoDkk" id="style-YoDkk">
          May 1
        </div>
      </div>
      <div class="show-times__container--no-performances">
        <p class="show-times--no-performances gray-666 bold font-14 ls-norm">
          No Performances
        </p>
      </div>
    </div>
    <a class="block text-center blue bold ptl pbl font-xs view-calendar__link ls-norm" [routerLink]="['/payment-page/',ticket.event.id]">
      Buy ticket
      <svg width="0" height="0" viewBox="0 0 12 21" xmlns="http://www.w3.org/2000/svg" class="mlr-5 view-calendar__chevron">
        <polygon transform="matrix(-1 0 0 1 11.55 0)" points="11.338 20.326 11.34 20.328 10.658 21 0.683 11.171 0 10.499 0.683 9.826 10.658 0 11.34 0.673 11.55 0.88 1.792 10.499 11.55 20.117" fill-rule="evenodd">
        </polygon>
      </svg>
    </a>
  </li>




</ol>
